body{
	background-color: ghostwhite;
	margin: 0;
	padding: 0;
	font-family: 'Futura', sans-serif;
	top: 0;
}


.nav {
	background-color: black;
	color: white;
	list-style: none;
	text-align: center;
	padding: 30px 0 30px 0;
}

.nav > li {
	display: inline-block;
	padding-right: 50px;
}

.nav > li > a {
	text-decoration: none;
	color: white;
}


*{
	margin: 0;
	padding: 0px;
	font-family: 'Futura', sans-serif;
}

img{
	align: center;
	width: 100%;
}

.inner-container{
	width: 100%;
	background-color: ghostwhite;
	padding:10px;
	margin: -10px;
	margin-top: 0px;
}


.inner-container h1{
	margin-bottom: 30px;
	font-size: 30px;
	font-weight: 900;
	font-family: 'Futura', sans-serif;
	text-align: center;
}

.text{
	font size: 13px;
	color: black;
	line-height: 30px;
	text-align: justify;
	margin-bottom: 30px;
}

.inner-container p{
font-size: 16px;
margin: 30px;
font-family: 'Futura', sans-serif;
}
